// COLORI
$bg-body: #141414;
$bg-header: #000;
$bg-card: #303030;
$active-star-color: yellow;
$non-active-star-color: $bg-card;
$title-color: #980A11;
$text-color: #EFEFEF;

// SIZING
$section-pad: 20px;
$flag-height: 15px;
$card-radius: 10px;

//fonts size
$card-font-size: 0.9rem;

// MIXINS

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@mixin flag-size {
    height: $flag-height;
    width: calc($flag-height * 1.5);
}