// COLORI
$bg-body: #484848;
$bg-header: #222;
$bg-card: #585858;

// SIZING
$section-pad: 20px;

// MIXINS

@mixin flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}